* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
}

.selected-option {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 130%;
    top: -140px;
    color: Black;
    background-color: azure;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 15px;
    height: 15px;
    border-top: 4px solid;
    border-left: 4px solid;
    rotate: -135deg;
    transition: 0.4s;
}

.option_box {
    position: relative;
    margin-top: 15px;
}

nav {
    position: absolute;
    width: 100%;
    height: 250px;
    top: -150px;
    left: -520px;
    overflow-y: auto;
    background-color: #ffff;
    border-radius: 10px;
}
.nav_active{
    height: 250px;
    




}

nav ul li {
    font-size: 16px;
    background-color: #ffff;
    color: black;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

nav ul li:hover {
    background-color: #f2f2f2;

}

nav::-webkit-scrollbar {
    width: 10px;

    border-radius: 15px;
}

nav::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}